<div class ="container text-center">
  <font size="7">About</font><br>
    <a>ながのcakeは全国発送可能なケーキ屋さんです</a><br>
    <a>お子様からお年寄りの方までお召し上がりいただけるよう</a><br>
    <a>様々なバリエーションをご用意しております。</a><br>
    <a>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</a><br>
    <a>ぜひご注文ください</a><br>
  <%= image_tag '/ケーキ.jpeg',size:'400x200' %>
</div>