<div class="container">
  <h4><span style="background-color: silver;">ジャンル編集</span></h4>
 <%= form_with model: @genre, url: admin_genre_path(@genre.id) do |f| %><br>
<label for="inputGenre">ジャンル名</label>
  <%= f.text_field :name, autofocus: true, id:"inputGenre" %>
  <%= f.submit "変更を保存する" ,class: "btn btn-success" %>
  <% end %>
</div>